<?xml version="1.0"?>
<robot name="ser_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find kinova_description)/urdf/ser_robot_base.xacro" />
	<xacro:include filename="$(find kinova_description)/urdf/j2n6s300.xacro"/>

	<!-- base -->
	<ser_robot_base/>

	<!-- arm_j2n6s300 -->
	<link name="root">
    	<visual>
      		<origin xyz="0 0 0" rpy="0 0 0" />
      		<geometry>
        		<box size = "0 0 0"/>
     		</geometry>
    	</visual>
    	<collision>
      		<origin xyz="0 0 0" rpy="0 0 0" />
     	 	<geometry>
        		<box size = "0 0 0"/> 
      		</geometry>
    	</collision>     
  	</link>
  
  	<joint name="connect_root_and_base" type="fixed">
    	<child link="root" />
    	<parent link="base_link" />
    	<origin xyz="0.0955 0 0.433" rpy="0 0 1.57" />    
  	</joint>

  	<xacro:property name="robot_root" value="root" />

  	<xacro:j2n6s300  base_parent="${robot_root}"/>

</robot>
